@media screen and (max-width: $media_mobile_with) {
    .h4 {
        font-size: calc(1.25rem);
    }

    .app {
        position: fixed;
        bottom: 0;
        width: 100vw;
    }

    .link_text {
        display: none;
    }
}