@media screen and (max-width: $media_mobile_with) {
    ._h4 {
        font-size: calc(20px);
    }

    ._h6 {
        font-size: calc(16px);
    }

    .app {
        position: fixed;
        bottom: 0;
        width: 100vw;
    }

    .link_text {
        display: none;
    }

    .flex_devices {
        flex-direction: column;
        padding-bottom: 60px;
    }

    .button_device,
    .button_device_item {
        width: 100%;
    }
}