body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  min-height: -webkit-fill-available;
}

#root {
  flex: 1;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

$bg-color-body: #e3f2fd;
$max-width-site: 1024px;
$bg-page_link: #cff4fc;
$media_mobile_with: 768px;
$color_text_header_page: #055160;
$color_button_device: #191616;
// #191616;

._h4 {
  color: $color_text_header_page;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 2%;
}

._h6 {
  color: $color_text_header_page;
  font-size: 16px;
  font-weight: 300;
  padding: 2%;
}

.page_link {
  width: 100vw;
  background-color: $bg-page_link;
  padding-bottom: 2vh;
}

.app,
.main,
.devices,
.device,
.login,
.loading {
  max-width: $max-width-site;
  margin: 0 auto;
  padding-left: 1%;
  padding-right: 1%;
}

.main,
.devices,
.device,
.login {
  padding-top: 1vh;
}

.flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}


@import "./_header.scss";
@import "./devices";
@import "./main";
@import "./mobile";